@keyframes boat {
	0% {
		transform: translateY(0px) rotateZ(0deg);
	}
	33% {
		transform: translateY(-4px) rotateX(2deg) rotateZ(5deg);
	}
	66% {
		transform: translateY(4px) rotateZ(-6deg);
	}
	100% {
		transform: translateY(0px) rotateZ(0deg);
	}
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-4px);
	}
	75% {
		transform: translateY(4px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes turn {
	0% {
		transform: rotateZ(0deg);
	}
	50% {
		transform: rotateZ(90deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}
